Import necessary libraries.

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

Specify the web page for scraping and store them in objects

In [7]:
url = 'https://en.wikipedia.org/wiki/List_of_Billboard_Hot_100_number-one_singles_of_the_2020s'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

Reformat page for easier viewing

In [9]:
#print(soup.prettify())

From the page, find what elements you needed to be stored into your data frame.

In [25]:
table = soup.find("table", class_="wikitable") #Choosing only the first table from the page

In [43]:
Titles = table.find_all('th')[1:6] #All the titles seem to have th tag (Table Header)
print(Titles)

[<th>Reached number one
</th>, <th>Artist(s)
</th>, <th>Single
</th>, <th>Weeks at<br/>number one
</th>, <th>References
</th>]

Using List Comprehension, parse through list of values and retrieve only Headers and not tags.

In [107]:
table_Titles = [ Titles.text.strip() for Titles in Titles]
table_Titles.insert(0,'Rank')
print(table_Titles)

['Rank', 'Reached number one', 'Artist(s)', 'Single', 'Weeks atnumber one', 'References']

Creating and storing retrieved values into the dataframe

In [108]:
table_titles_df = pd.DataFrame(columns = table_Titles)
table_titles_df

Empty DataFrame
Columns: [Rank, Reached number one, Artist(s), Single, Weeks atnumber one, References]
Index: []

In [ ]:
column_data = table.find_all('tr') #For all rows in the table
for row in column_data[2:]:
    row_data =row.find_all('td')
    individual_row_data = [row_data.text.strip() for row_data in row_data]

In [ ]:
#INCOMPLETE - Failing to append data to existing data frame

Better Workaround

In [154]:
dfs = pd.read_html(url)
dfs[2]

,#,Reached number one,Artist(s),Single,Weeks at number one,References,Unnamed: 6_level_0
,2020,2020,2020,2020,2020,2020,2020
0,1096,"January 18, 2020",Roddy Ricch,"""The Box""",11,[5],NaN
1,1097,"April 4, 2020",The Weeknd,"""Blinding Lights"" ♪ [6]",4,[7],NaN
2,1098,"April 18, 2020",Drake,"""Toosie Slide""",1,[8],NaN
3,1099,"May 9, 2020",The Scotts (Travis Scott and Kid Cudi),"""The Scotts""",1,[9],NaN
4,1100,"May 16, 2020",Doja Cat featuring Nicki Minaj,"""Say So""",1,[10],NaN
...,...,...,...,...,...,...,...
77,1165,"March 16, 2024",¥$: Ye and Ty Dolla Sign featuring Rich the Ki...,"""Carnival""",1,[81],NaN
78,1166,"March 23, 2024",Ariana Grande,"""We Can't Be Friends (Wait for Your Love)""",1,[82],NaN
79,1167,"March 30, 2024",Teddy Swims,"""Lose Control""",1,[83],NaN
80,1168,"April 6, 2024","Future, Metro Boomin and Kendrick Lamar","""Like That""",3,[84],NaN
81,1169,"April 27, 2024",Hozier,"""Too Sweet""",1*,[85],NaN